<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form th:method="POST" th:action="@{/user-create}" th:object="${user}">
    Name<br><input type="text" name="name" placeholder="Enter please name" required/><br>
    Surname<br><input type="text" name="surname" placeholder="Enter please surname" required/><br>
    Age<br><input type="number" name="age" placeholder="Enter please age" required/><br>
    <p><input type="submit" value="Save">
</form>
</body>
</html>