<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/edit-user}" th:object="${user}">
    Name<br><input type="text" th:field="*{name}" id="name" placeholder="Enter please name" required/><br>
    Surname<br><input type="text" th:field="*{surname}" id="surname" placeholder="Enter please surname" required/><br>
    Age<br><input type="number" th:field="*{age}" id="age" placeholder="Enter please age" required/>
    <p><input type="submit" value="Save">
</form>
</body>
</html>